Repository setsailco/semaphore-demo-better-monorepo: changes, and which Semaphore blocks are due for each by the changed paths.
All: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

.semaphore/js-service-1.yml:

version: "v1.0"
name: JS Service 1
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Test JS Service 1
    dependencies: []
    run:
      when: "change_in('/javascript/js-service-1/', {default_branch: 'main'})"
    task:
      jobs:
        - name: Run Tests
          commands:
            - checkout
            - cd javascript/js-service-1
            - nvm use
            - npm ci
            - node test.js
  - name: Build JS Service 1
    dependencies: ["Test JS Service 1"]
    run:
      when: "change_in('/javascript/js-service-1/', {default_branch: 'main'})"
    task:
      jobs:
        - name: Build Docker Image
          commands:
            - checkout
            - cd javascript/js-service-1
            - docker build -t js-service-1:$(git rev-parse HEAD) .
            - echo 'We would upload docker image to ECS here'

.semaphore/js-service-2.yml:

version: "v1.0"
name: JS Service 2
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Test JS Service 2
    dependencies: []
    run:
      when: "change_in('/javascript/js-service-2/', {default_branch: 'main'})"
    task:
      jobs:
        - name: Run Tests
          commands:
            - checkout
            - cd javascript/js-service-2
            - nvm use
            - npm ci
            - node test.js
  - name: Build JS Service 2
    dependencies: ["Test JS Service 2"]
    run:
      when: "change_in('/javascript/js-service-2/', {default_branch: 'main'})"
    task:
      jobs:
        - name: Build Docker Image
          commands:
            - checkout
            - cd javascript/js-service-2
            - docker build -t js-service-2:$(git rev-parse HEAD) .
            - echo 'We would upload docker image to ECS here'

Notes added by 'git notes add'
  f6bdfbc063ac525134f44ac6940e3bff17652611
Due: none

Test semantic release on this branch and remove github plugin for now
  package.json
Due: none

feat(js derp): Add again to woo
  javascript/js-service-1/app.js
  javascript/js-service-1/test.js
Due: Test JS Service 1, Build JS Service 1

Notes added by 'git notes add'
  18f1f8b051d5dad6630224af5834645729372ada
Due: none

feat: Add description to go-service-1 package.json
  golang/go-service-1/package.json
Due: none

Notes added by 'git notes add'
  693c2634c8d627b68390acbba371f500a84853d4
Due: none

Implement multi-semantic-release
  .nvmrc
  golang/go-service-1/package.json
  golang/go-service-2/package.json
  javascript/js-service-1/package-lock.json
  javascript/js-service-1/package.json
  javascript/js-service-2/package-lock.json
  javascript/js-service-2/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Add branches and repo url config
  package.json
Due: none

Test updating to pnpm
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
Due: none

Fix pnpm
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
Due: none

Update pnpm commands
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
Due: none

Remove watch from tests
  javascript/js-service-1/package.json
  javascript/js-service-2/package.json
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Update docker builds for pnpm
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
  javascript/js-service-1/Dockerfile
  javascript/js-service-2/Dockerfile
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Fix multi-semantic-release (#6)
  .nvmrc
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
  golang/go-service-1/package.json
  golang/go-service-2/package.json
  javascript/js-service-1/Dockerfile
  javascript/js-service-1/package-lock.json
  javascript/js-service-1/package.json
  javascript/js-service-2/Dockerfile
  javascript/js-service-2/package-lock.json
  javascript/js-service-2/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Workflow adjustments
  .semaphore/go-service-1/test-build.yml
  .semaphore/go-service-2/test-build.yml
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
Due: none

More adjustments
  .semaphore/semaphore.yml
Due: none

Make workflow more like we want (#7)
  .semaphore/go-service-1/test-build.yml
  .semaphore/go-service-2/test-build.yml
  .semaphore/js-service-1/test-build.yml
  .semaphore/js-service-2/test-build.yml
  .semaphore/semaphore.yml
Due: none

Test triggering changes
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

Test triggering changes (#8)
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

feat: Initial release of all services
  golang/go-service-1/main.go
  golang/go-service-2/main.go
  javascript/js-service-1/server.js
  javascript/js-service-2/server.js
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

feat: Initial release of all services (#9)
  golang/go-service-1/main.go
  golang/go-service-2/main.go
  javascript/js-service-1/server.js
  javascript/js-service-2/server.js
Due: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Add github plugin to semantic release
  package.json
Due: none

Allow releasing from laptop for demo
  package.json
Due: none

Fix flag
  package.json
Due: none

Notes added by 'git notes add'
  0f8645e7369f47179114d7a157e5e21e830279d8
Due: none

fix: update js service 1
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

fix: update go service 1
  golang/go-service-1/main.go
Due: none

Test version bumps of js + go service 1 (#10)
  golang/go-service-1/main.go
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

fix: Test version bumps of js + go service 1 (#10)
  golang/go-service-1/main.go
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

Notes added by 'git notes add'
  b1e05bc55ed3acaa53d9c33d361240b8ae626001
Due: none

Test updating tag regex
  .semaphore/semaphore.yml
Due: none

chore(ci): seeing if we can get slack hooks added
  .gitignore
  .semaphore/go-service-1/release.yml
Due: none
