Repository setsailco/semaphore-demo-better-monorepo: changes, and which Semaphore blocks are due for each by the changed paths.
All: Test JS Service 1, Build JS Service 1, Test JS Service 2, Build JS Service 2

Test JS Service 1:
  jobs:
  - name: Run Tests
    commands:
    - checkout
    - cd javascript/js-service-1
    - nvm use
    - npm ci
    - node test.js

Build JS Service 1:
  jobs:
  - name: Build Docker Image
    commands:
    - checkout
    - cd javascript/js-service-1
    - docker build -t js-service-1:$(git rev-parse HEAD) .
    - echo 'We would upload docker image to ECS here'

Test JS Service 2:
  jobs:
  - name: Run Tests
    commands:
    - checkout
    - cd javascript/js-service-2
    - nvm use
    - npm ci
    - node test.js

Build JS Service 2:
  jobs:
  - name: Build Docker Image
    commands:
    - checkout
    - cd javascript/js-service-2
    - docker build -t js-service-2:$(git rev-parse HEAD) .
    - echo 'We would upload docker image to ECS here'

fixing the notificaitons file location
  .semaphore/release-notifications.yml
Due: none

new slack webhook url
  .semaphore/release-notifications.yml
Due: none

fix: Bump versions for go service 2 + js service 2
  golang/go-service-2/main.go
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

fix: Bump versions for go service 2 + js service 2 (#12)
  golang/go-service-2/main.go
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

Notes added by 'git notes add'
  395e2f1d15f39593d009fb45f49fe7212182057b
Due: none

Test extra parens
  .semaphore/semaphore.yml
Due: none

fix: test version bump of go service 1
  golang/go-service-1/main.go
Due: none

Notes added by 'git notes add'
  761cf01a969054913d26552b50678d94dccfa70b
Due: none

Remove tag conditional entirely
  .semaphore/semaphore.yml
Due: none

fix: test version bump of go service 2
  golang/go-service-2/main.go
Due: none

Notes added by 'git notes add'
  5f33a416deaab520f47eeac6b37b7d0d0a17f0c8
Due: none

Test reversed order of when conditionals
  .semaphore/semaphore.yml
Due: none

fix: Bump js service 1
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

Notes added by 'git notes add'
  fdcf15d1b6528b93efea860d252dd74cb5b8aeee
Due: none

workflow testing
  .github/workflows/release-notes.yml
Due: none

testing github actions no release
  .github/workflows/release-notes.yml
  .gitignore
Due: none

grab latest release github actions
  .github/workflows/release-notes.yml
Due: none

fix: Bump js service 2
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

fix: Bump js service 2 (#14)
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

Notes added by 'git notes add'
  8a806b96dcb92168edb7620760b20390521d3b95
Due: none

fix: bump version of service 2
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

fix: bump version of service 2 (#15)
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

Notes added by 'git notes add'
  177aead8025e292bcf16620d1e586317375abff9
Due: none

Test on_tags = false
  .semaphore/semaphore.yml
Due: none

Revert comment line from js service 2
  javascript/js-service-2/server.js
Due: Test JS Service 2, Build JS Service 2

Notes added by 'git notes add'
  3e43b86cdc80fa0f8447610eab37495a71ccdf4c
Due: none

Test tag processing
  .semaphore/semaphore.yml
Due: none

fix: bump js service 1
  javascript/js-service-1/server.js
Due: Test JS Service 1, Build JS Service 1

Notes added by 'git notes add'
  fd46e1a6a78b3f24730f1e3e489fae23647f7da2
Due: none

Path conditions:
  Test JS Service 1: any of: javascript/js-service-1/
  Build JS Service 1: any of: javascript/js-service-1/
  Test JS Service 2: any of: javascript/js-service-2/
  Build JS Service 2: any of: javascript/js-service-2/
